# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/FramePacer/FramePacer/x64
/FramePacer/x64
/FramePacer/.vs/FramePacer/v17/ipch/AutoPCH
/FramePacer/.vs/FramePacer
*.db
*.db-shm
*.opendb
*.db-wal
*.vsidx
/.vs/VideoFramePacer/FileContentIndex/0fd25cbf-9195-4af4-ae29-8d115c49b3fc.vsidx
/.vs/VideoFramePacer/v17/.wsuo
*.ipch
